trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

variables: 
  - name: 'autoVersionIncrement'
    value: True
  - name: 'newVersion'
    value: '0.0.0'

steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '3.7'
    
  - bash: echo "##vso[task.setvariable variable=version]$(python ./azure_pipeline/helper/version.py $(Build.DefinitionName) $(autoVersionIncrement) $(newVersion))"
    displayName: 'Setting the new version'

  - task: qetza.replacetokens.replacetokens-task.replacetokens@3
    displayName: 'Replace package name and its version in setup.py'
    inputs:
      rootDirectory: .
      targetFiles: setup.py
      tokenPrefix: '#{'
      tokenSuffix: '}#'

  - bash: |
      pip install wheel twine
      python setup.py sdist bdist_wheel
      echo "##vso[task.setvariable variable=whlFile]$(ls ./dist/*.whl)"
    displayName: 'Creating the Package'

  - task: TwineAuthenticate@1
    inputs:
      pythonUploadServiceConnection: neo4pm
    displayName: 'Authenticate pypi service connection'

  - bash: |
      python -m twine upload -r $(Build.DefinitionName) --config-file $(PYPIRC_PATH) $(whlFile)
    displayName: 'Upload the package'
